<h1>Georgia State University</h1>

<h2>Informed Consent</h2>

<p>
<b>Title:</b> A Study of Conversational Assistants and Human Interaction
</p>
<p>
<b>Principal Investigator:</b> Dr. Mark Keil
</p>
<p>
<b>Co-Investigator:</b> Maheshwar Boodraj and Tawfiq Alashoor
</p>
<p>
<b>Student Principal Investigator:</b> Kambiz Saffarizadeh
</p>

<h2>Purpose</h2>
<p>
The purpose of the study is to investigate the interaction between humans and digital assistants. You are invited to take part in this research study because you are an English speaker who can interact with a digital assistant. A total of 500 people will be invited to take part in this study.
</p>

<h2>Procedures</h2>
<p>
The whole procedure takes less than 10 minutes. As part of this research study, you will need to use the HelpAIGrow app. After you download the app, you will be asked to agree to the Terms of Use which will appear on your mobile device’s screen when you begin using the app.  If you do not agree to the Terms of Service, you should not take part in this research study. If you decide to take part, you will hear a message from a digital assistant for less than 30 seconds. Then you will be asked to talk back for whatever length of time you like. Next, you will be asked to complete a survey that takes about 5 minutes to finish. Afterward, you will receive a code to use on Amazon Mechanical Turk to receive your full compensation.
</p>
<p> 
You can remove the app once you finished the study.
</p>

<h2>Future Research</h2>
<p>
Researchers will remove information that may identify you and may use your data for future research. If we do this, we will not ask for any additional consent for you.
</p>

<h2>Risks</h2>
<p>
In this study, you will not have any more risks than you would in a normal day of life.
</p>

<h2>Benefits</h2>
<p>
This study is not designed to benefit you personally. Overall, we hope to gain information about users’ interaction with digital assistants.
</p>

<h2>Compensation</h2>
<p>
You will receive $0.01 for participating in this study (show-up fee). You will receive an extra $0.99 if you finish the experiment. So if you finish the experiment, you will receive a total of $1.00.
</p>

<h2>Voluntary Participation and Withdrawal</h2>
<p>
You do not have to be in this study. If you decide to be in the study and change your mind, you have the right to drop out at any time. You may skip questions or stop participating at any time. You may refuse to take part in the study or stop at any time; this will not cause you to lose any benefits to which you are otherwise entitled.
</p>

<h2>Confidentiality</h2>
<p>
We will keep your records private to the extent allowed by law. The following people and entities will have access to the information you provide:
</p>
<ul>
<li>Mark Keil and Kambiz Saffarizadeh</li>
<li>GSU Institutional Review Board</li>
<li>Office for Human Research Protection (OHRP)</li>
</ul>

<p>
We will use a study number rather than your name on study records. The information you provide will be stored on password- and firewall-protected computers. Data sent over the Internet may not be secure. However, we use encrypted connections to transfer your data over the internet.
</p>
<p>
We do not save your voice anywhere either on our servers or your own device. The voice is streamed to Google Speech Recognition service to be converted into text. We only store the text version of your utterances.
</p>
<p>
We will keep your answers private. We will not attempt to link your Worker ID to any information. However, work performed on Amazon Mechanical Turk can be linked to the public profile page. We cannot guarantee that this service will keep your information private.
</p>
<p>
When we present or publish the results of this study, we will not use your name or other information that may identify you.
</p>

<h2>Contact Information</h2>

<p>
Contact Dr. Mark Keil at <a href="tel:+14044137365">404-413-7365</a> or <a href="mailto:mkeil@gsu.edu" target="_blank">mkeil@gsu.edu</a>, or<br/>Kambiz Saffarizadeh at <a href="tel:+16615357456">661-535-7456</a> or <a href="mailto:ksaffarizadeh1@gsu.edu" target="_blank">ksaffarizadeh1@gsu.edu</a>:
</p>
<ul>
<li>if you have questions about the study or your part in it</li>
<li>if you have questions, concerns, or complaints about the study</li>
</ul>
<p>
Contact the GSU Office of Human Research Protections at <a href="tel:+14044133500">404-413-3500</a> or <a href="mailto:irb@gsu.edu" target="_blank">irb@gsu.edu</a>:
</p>
<ul>
<li>if you have questions about your rights as a research participant</li>
<li>if you have questions, concerns, or complaints about the research</li>
</ul>

<h2>Consent</h2>
<p>
You can save a digital copy of this form by visiting <a href="http://www.amandabot.xyz/consent_form/10/" target="_blank">www.amandabot.xyz/consent_form/10/</a>.
</p>
<p>
If you agree to participate in this research, please click the <q>Accept</q> button below.
</p>

